{{#*inline "page"}}
<table>
  <thead>
    <th>
      <td>id</td>
    </th>
  </thead>
  <tbody>
{{#each kifu}}
    <tr>
      <td><a href="{{this.url}}">{{this.id}}</a></td>
    </tr>
{{/each}}
  </tbody>
</table>
<form id="shougiwars_search">
  <input id="shougiwars_usename" type="text">
  <button type="submit">search</button>
</form>
{{/inline}}

{{~> layout title="kifu" ~}}
