{{#*inline "page"}}
<div class="container">
  <form action="/kifu/", method="post">
    <p>
      password
      <input type="text", name="data", id="data">
    </p>
    <input type="submit" value="create">
  </form>
</div>
{{/inline}}

{{~> layout title="kifu" ~}}
