{{#*inline "page"}}
  <form action="/users/login", method="post">
    <p>
      email
      <input type="text", name="email", id="email">
    </p>
    <p>
      password
      <input type="password", name="password", id="password">
    </p>
    <input type="submit" value="login">
  </form>
{{/inline}}

{{~> layout title="login" ~}}
